
<form method=POST action= '/upload' enctype="multipart/form-data">
  <input name="upload[file]" type=file /> <br>
  <input type=submit value=upload>
</form>
<% @files.each do |file| %>
<%= file %> <br>
<% end %>
